*, ::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "./components/header.scss";
@import "./components/ressources.scss";
@import "./components/section-offre.scss";
@import "./components/main.scss";
@import "./components/section-detail.scss";
@import "./components/section-eligibilite.scss";
@import "./components/footer.scss";
@import "./components/modal.scss";